@using Alma.Organizations.Contexts
@using Alma.Modules.Core.Components.Shared.Loadings
@using Alma.Flows
@using Alma.Flows.Core.InstanceExecutions.Services
@using Alma.Flows.Core.Instances.Entities
@using Alma.Flows.Core.Instances.Services
@using Alma.Flows.Core.Instances.Stores
@using Alma.Flows.Definitions
@using Alma.Flows.Stores.Filters
@using Microsoft.Extensions.DependencyInjection

@inject NavigationManager NavigationManager
@inject IServiceScopeFactory ScopeFactory
@inject IDialogService DialogService
@inject IOrganizationContext OrganizationContext

<MudDialog>
    <DialogContent>
        <MudTextField  
        Label="Buscar" @bind-Value="_term" 
        Adornment="Adornment.End" 
        AdornmentIcon="@Icons.Material.Outlined.Search"
        OnAdornmentClick="Search" 
        DebounceInterval="800"
        OnDebounceIntervalElapsed="HandleDebounceIntervalElapsed"/>

        <MudDivider Class="mb-4"/>

        @if (_isLoading)
        {
            <LoadingCircle/>
        }
        else if (_selectedInstance is null)
        {
            if (_result.Count == 0)
            {
                <MudText>Nenhuma instância encontrada.</MudText>
            }
            else
            {
                @foreach (var definition in _result)
                {
                    <MudCard Class="mb-2">
                        <MudCardContent>
                            <div class="d-flex align-center justify-space-between">
                                <div class="d-flex flex-column">
                                    <span><strong>@definition.Name</strong></span>
                                </div>
                                <MudButton Variant="Variant.Text" OnClick="@(() => OnSelect(definition))">Selecionar</MudButton>
                            </div>
                        </MudCardContent>
                    </MudCard>
                }
            }
        }
        else if (_selectedInstance is not null)
        {
            <MudCard Elevation="0" Class="mud-background-gray">
                <MudCardContent>
                    <FormTextData Label="Definição de fluxo de trabalho selecionada" Value="@_selectedInstance.Name" />
                </MudCardContent>
            </MudCard>
        }

    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="() => MudDialog.Close(DialogResult.Cancel())">Cancelar</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Execute" Disabled="@(_selectedInstance is null)">Executar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    private bool _isLoading = false;
    private string _term = string.Empty;
    private FlowInstance? _selectedInstance;

    private ICollection<FlowInstance> _result = [];

    protected override async Task OnInitializedAsync()
    {
        await MudDialog.SetTitleAsync("Selecione uma instância");
        await MudDialog.SetOptionsAsync(new DialogOptions
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            CloseOnEscapeKey = true,
        });

    }

    private async Task HandleDebounceIntervalElapsed(string term)
    {
        await Search();
    }

    private async Task Search()
    {
        _isLoading = true;
        _selectedInstance = null;

        StateHasChanged();

        using var scope = ScopeFactory.CreateScope();
        var instanceManager = scope.ServiceProvider.GetRequiredService<IInstanceManager>();
        var organizationContext = scope.ServiceProvider.GetRequiredService<IOrganizationContext>();

        try
        {
            _result = await instanceManager.List(1, 10, new FlowInstanceFilters
            {
                Discriminator = await organizationContext.GetCurrentOrganizationId(),
                Name = _term
            });
        }
        catch (Exception ex)
        {
            await DialogService.ShowErrorDialog("Erro ao buscar instâncias", ex.Message);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    private async Task OnSelect(FlowInstance instance)
    {
        _selectedInstance = instance;
    }

    private async Task Execute()
    {
        if (_selectedInstance is null)
            return;

        using var scope = ScopeFactory.CreateScope();
        var executionManager = scope.ServiceProvider.GetRequiredService<IInstanceExecutionManager>();

        var execution = await executionManager.Begin(_selectedInstance);

        NavigationManager.NavigateTo($"/flows/executions/details/{execution.Id}");
    }
}
